@import '../../../../common/styles/sass/variables';

.contactItem {
    margin-left: 8px;
    margin-right: 8px;
    width: 43px;
    height: 43px;
    .contactStyle {
        display: block;
        color: $accentTextColor;
        font-size: 40px;
        transform-origin: center;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}