.container {
    border: 1px solid lightgray;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.containerColumn {
    flex-direction: column;
}

.block {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.elements {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*margin-top: 30px;*/
}

