@import '../../../common/styles/sass/variables';
@import '../../../common/styles/sass/mixins';

.skillsBlock {
    @include block($bgSecondColor);
    overflow-x: hidden;

    .skillsInner {
        width: 100%;
        @include flex(column, center, center, nowrap);
    }

    .section {
        width: 100%;
        @include flex(column, center, center, nowrap);

        &:not(:first-child) {
            margin-top: 56px;
        }
    }

    .titleWrap {
        @include container();
        @include flex(column, center, center, nowrap);
    }

    .carouselWrap {
        width: 100%;
        margin-top: 30px;
    }

    .carousel {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

@media only screen and (max-width: 1536px) { // 1200px - 1536px
    .skillsBlock {
        padding: 64px 0;
    }
}

@media only screen and (max-width: 600px) { // 350px - 600px
    .skillsBlock {
        .carousel {
            gap: 4px;
        }
    }
}
