@import '../common/styles/sass/variables';

.mainBlock {
    height: 100vh;
    background-color: $primaryColor;

    .text {
        h1 {
            font-weight: 300;
            font-size: 48px;
        }

        h2 {
            font-weight: 600;
            font-size: 104px;
        }

        p {
            font-size: 21px;
        }


    }


    img {
        width: 29%;
        border-radius: 50%;
        border: 15px solid white;
        background-color: white;
    }


}