.mainBlock {
  height: 100vh;
  background-color: #f5df4e;

  .text {
    width: 330px;
    background-color: orange;
  }

  .photo {
    width: 330px;
    height: 400px;
    background-color: orange;
  }

}