@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.main {
    height: 100vh;
    background-color: blue;
    position: relative;

    .particles {
        opacity: 0.5;

        canvas {
            position: absolute !important;
        }
    }

    .mainBlock {
        @include container();
        @include flex(row, space-between, center, nowrap);

        .text {
            min-width: 50%;
            z-index: 1;

            h1 {
                font-size: 48px;
                font-weight: 300;
            }

            h2 {
                font-size: 90px;
                font-weight: 600;


            }

            p {
                font-size: 21px;

            }
        }

        .imgBlock {
            z-index: 1;

            img {
                width: 500px;
                border-radius: 50%;
                border: 15px solid white;
                background-color: white;

            }
        }

    }


}


@media only screen and (max-width: 1800px) { // 1536px - 1800px
    .main {
        .particles {
        }

        .mainBlock {
            .text {
                h1 {
                    font-size: 45px;
                }

                h2 {
                    font-size: 75px;
                }

                p {

                }
            }

            .imgBlock {
                img {
                    width: 450px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1536px) { // 1200px - 1536px
    .main {
        .particles {
        }

        .mainBlock {
            .text {
                h1 {
                    font-size: 40px;
                }

                h2 {
                    font-size: 63px;
                }

                p {

                }
            }

            .imgBlock {
                img {
                    width: 350px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) { // 600px - 1200px
    .main {
        padding-top: 100px;

        .particles {
        }

        .mainBlock {
            @include flex(column, space-around, center, nowrap);

            .text {
                h1 {
                    font-size: 30px;
                }

                h2 {
                    font-size: 50px;
                }

                p {

                }
            }

            .imgBlock {
                img {

                }
            }
        }
    }
}

@media only screen and (max-width: 600px) { // 350px - 600px
    .main {
        padding-top: 105px;
        .particles {
        }

        .mainBlock {
            .text {
                h1 {
                    font-size: 23px;
                }

                h2 {
                    font-size: 30px;
                }

                p {

                }
            }

            .imgBlock {
                img {
                    width: 300px;

                }
            }
        }
    }
}
