.project {
  background-color: #ffffa9;

  .picture {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 450px;
    height: 300px;
    background-color: #63db47;

    .tempText {
      position: absolute;
      top: 20px;
      left: 20px;
    }

    .button {
      background-color: #446e35;
      width: 150px;
      height: 50px;
      font-weight: bold;
      border: none;
    }
  }

  .titleAndDescription {
    background-color: #918124;
    .description,
    .title {
      margin: 5px;
      display: inline-block;
      background-color: #9afd59;

    }
  }
}