@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins';


.nav {
    width: 300px;
    @include flex(row, space-between, stretch, nowrap);

    a {
        color: $textColor;
        text-decoration: none;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }


    }
    .active {
        color: white;
    }
}