@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.projectsBlock {
    @include block($bgColor);

    .projectsContainer {
        @include container();
        @include flex(row, center, stretch, nowrap); /*todo: fix problem here*/

        .projects {
            @include blockInside(space-between);
            @include flex(row, space-between, stretch, nowrap);
            width: 100%;
            margin-top: 30px;
            @media screen and (max-width: 1129px) {
                justify-content: center;
            }

            .tabs {
                @include flex(column, center, stretch, nowrap);
                width: 100%;
                cursor: pointer;

                .tabsContent {
                    @include flex(column, center, stretch, wrap);
                    width: 100%;

                    .tabElement {
                        @include flex(row, space-between, stretch, wrap);

                        @media screen and (max-width: 1145px) {
                            @include flex(row, center, stretch, wrap);
                        }
                    }
                }
            }
        }
    }


}